// ===============
// colors palette
// ===============


$gradientColor: linear-gradient(to right, var(--gradient-start) 3%, var(--gradient-end) 100%);

:root {}

body {

	&.light-theme {
		// Site colors (Кольори сайту):
		// =================================================================
		--green-color: #28A745;
		--shadow-dark-color: #1a1a1a33;
		--shadow-light-color: #fff;
		--shadow-start-color: #c5c5c5;
		--shadow-end-color: #fff;
		--border: #4cc9f0;
		--btn-color: #2E2E2E;
		// Background colors (Фонові кольори):
		// =================================================================
		--background-color: #f7f7f7;
		--block-color: #fff;
		// Text colors (Текстові кольори):
		// =================================================================
		--main-color: #2E2E2E;
		--title-color: #333;
		// Gradient colors (Градієнт кольори):
		// =================================================================
		--gradient-start: #1e5799;
		--gradient-end: #e70faa;
		// Social icons colors (Кольори соціальних іконок):
		// =================================================================
		--icon-color: #1E1E1E;
		--linkedin: #0077B5;
		--github: #000000;
		--instagram: linear-gradient(45deg, #ffd600 0%, #ff0100 50%);
		--telegram: #039BE5;
		--whatsapp: #29A71A;
		--upwork: #37A000;
		--facebook: #475993;
	}

	&.dark-theme {
		// Site colors (Кольори сайту):
		// =================================================================
		--green-color: #197754;
		--shadow-dark-color: #ffffff33;
		--shadow-light-color: #1a1a1a33;
		--shadow-start-color: #2c2c2c;
		--shadow-end-color: #000;
		--border: #4cc9f0;
		--btn-color: #f7f7f7;
		// Background colors (Фонові кольори):
		// =================================================================
		--background-color: #1E1E1E;
		--block-color: #2c2c2c;
		// Text colors (Текстові кольори):
		// =================================================================
		--main-color: #f7f7f7;
		--title-color: #f7f7f7;
		// Gradient colors (Градієнт кольори):
		// =================================================================
		--gradient-start: #00f260;
		--gradient-end: #0575e6;
		// Social icons colors (Кольори соціальних іконок):
		// =================================================================

		--linkedin: #f7f7f7;
		--github: #f7f7f7;
		--instagram: #f7f7f7;
		--telegram: #f7f7f7;
		--whatsapp: #f7f7f7;
		--upwork: #f7f7f7;
		--facebook: #f7f7f7;
	}

	@media (prefers-color-scheme: dark) {
		// Site colors (Кольори сайту):
		// =================================================================
		--green-color: #197754;
		--shadow-dark-color: #ffffff33;
		--shadow-light-color: #1a1a1a33;
		--shadow-start-color: #2c2c2c;
		--shadow-end-color: #000;
		--border: #4cc9f0;
		--btn-color: #f7f7f7;
		// Background colors (Фонові кольори):
		// =================================================================
		--background-color: #1E1E1E;
		--block-color: #2c2c2c;
		// Text colors (Текстові кольори):
		// =================================================================
		--main-color: #f7f7f7;
		--title-color: #f7f7f7;
		// Gradient colors (Градієнт кольори):
		// =================================================================
		--gradient-start: #00f260;
		--gradient-end: #0575e6;
		// Social icons colors (Кольори соціальних іконок):
		// =================================================================

		--linkedin: #f7f7f7;
		--github: #f7f7f7;
		--instagram: #f7f7f7;
		--telegram: #f7f7f7;
		--whatsapp: #f7f7f7;
		--upwork: #f7f7f7;
		--facebook: #f7f7f7;
	}
}