.tabs-projects {

	// .tabs-projects__navigation
	&__navigation {
		display: flex;
		justify-content: center;
		gap: toRem(20);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 49, 30);

		}

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}

	// .tabs-projects__title
	&__title {
		padding: toRem(10) toRem(17);
		border-radius: toRem(5);

		&._tab-active {
			padding: toRem(10) toRem(15);
			border-radius: 0.5em;
			background: var(--background-color);
			border: 1px solid var(--background-color);
			transition: all 0.3s;
			box-shadow: 6px 6px 12px var(--shadow-start-color),
				-6px -6px 12px var(--shadow-end-color);
			font-weight: 700;
		}
	}

	// .tabs-projects__content
	&__content {
		// border: 1px solid #eee;
		// padding: toRem(10) toRem(15);
	}

	// .tabs-projects__body
	&__body {}

	// .tabs-tabs-projects__wrapper
	&__wrapper {}
}