.skills {

   // .skills__title

   &__title {}

   // .skills__subtitle

   &__subtitle {}

   // .skills__items

   &__items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      // justify-content: space-between;

      row-gap: toRem(36);
      @include adaptiveValue("column-gap", 30, 15, 0, 1439.98, 359.98);
      @include adaptiveValue("font-size", 20, 16);

      img {
         max-width: 100%;
         object-fit: cover;

         @include adaptiveValue("max-height", 70, 50);
      }

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 49, 30);
      }

      @media (max-width:$tablet) {
         grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width:$mobile) {
         grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: toEm(621.98)) {
         grid-template-columns: repeat(2, 1fr);
      }

      // @media (max-width: toEm(449.98)) {
      //    grid-template-columns: auto;
      // }
   }

   // .skills__item

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: toRem(24);
   }

   // skills__image
   &__image {

      img {
         max-width: 100%;
      }

      // &:not(:last-child) {
      //    margin-bottom: toRem(24);
      // }
   }

   // skills__title-item
   &__title-item {
      text-align: center;
   }
}